{{>header}}
<title>About</title>
</head>

<body>

	{{#if user}}
	{{>auth_nav}}
	{{else}}
	{{>unauth_nav}}
	{{/if}}

	<main>
		<div id="content-wrap">
			<h1>About</h1>

			<section>
				<h2>Team: Alphbetical Listing</h2>
				<ul>
					<li>Michael De Spain</li>
					<li>Ibrahim Kamara</li>
					<li>Tori Locke</li>
					<li>Kina Michie</li>
				</ul>
			</section>

			<hr>

			<section>
				<h2>Description:</h2>
				<p>	This website is our team's final project for learning <a href="https://nodejs.org/">Node.js</a> </p>
				<p>	The technologies and some tools used to construct this site are listed in the section below.</p>

					<p>The recipes shown on this website, such as recipe names, descriptions,
					ingredients, ingredient images, and preparing instructions, are fetched from the <a
						href="https://spoonacular.com/food-api">Spoonacular</a> food and recipes API.</p>

					<p>We do not control the information retrieved from the Spoonacular API</p>

					<p>This website was built with the only purposes of learning and entertainment.
						We do not recommend you to prepare any food based on the recipes presented here.</p>

			</section>

			<hr>

			<section>
				<h2>Technologies used:</h2>
				<ul class="technologies-list">
					<li><b>Front-end:</b>
						<p>HTML5, CSS3, JavaScript</p>
					</li>
					<li><b>Back-end:</b>
						<p>
							<a href="https://nodejs.org/">Node.js</a>,
							<a href="https://expressjs.com/">Express</a>,
							<a href="https://www.mongodb.com/">MongoDB</a>,
							<a href="https://mongoosejs.com/">Mongoose</a>,
							<a href="https://handlebarsjs.com/">Handlebars</a>,
							<a href="https://jwt.io/">JSON Web Tokens</a>.
						</p>
					</li>
					<li><b>Hosting:</b>
						<ul>
							<li>The production MongoDB database is hosted on <a
									href="https://www.mongodb.com/cloud/atlas">MongoDB Atlas</a>.</li>
							<li>The web server is hosted on <a href="https://www.heroku.com/">Heroku</a>.</li>
							<li>The source code is privately hosted <a
									href="https://github.com/torislocke/spoonacular">on a GitHub repository</a>.
							</li>
						</ul>
					</li>
					<li><b>External APIs:</b>
						<ul>
							<li><a href="https://spoonacular.com/food-api">Spoonacular API</a>.</li>
							<li><a href="https://sendgrid.com/solutions/email-api/">Sendgrid email API</a>.</li>
						</ul>
					</li>
				</ul>
			</section>

			<hr>

			<section>
				<h2>Assets credits:</h2>
				<p>Logo and Favico designed by Kina Michie</p>

		</div>
	</main>
{{>footer}}