{{>header}}
<title>Message</title>
</head>

<body>

	{{#if user}}
	{{>auth_nav}}
	{{else}}
	{{>unauth_nav}}
	{{/if}}
	<main>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="information-message">
						{{message}}
					</p>
				</div>
			</div>
		</div>
	</main>

	{{>footer}}