{{>header}}
<title>Search</title>
</head>

<body>
	{{#if user}}
	{{>auth_nav}}
	{{else}}
	{{>unauth_nav}}
	{{/if}}

	<main>
		<div id="content-wrap">

			<h2>Search results for: &nbsp <em>{{searchText}}</em></h2>

			{{!-- Top pagination nav. --}}
			{{#if pagination}}
			{{>pagination_nav}}

			{{/if}}


			{{#if results}}
			<div class="search-results">
				{{>search_results}}
				{{else}}
				<p class="information-message">No results found! :(</p>
				{{/if}}
			

			{{!-- Bottom pagination nav. --}}
			{{#if pagination}}

			{{>pagination_nav}}

			{{/if}}
			</div>


		</div>
	</main>
	{{>footer}}