<form action="/search" class="searchBox">
	<div class="input-group">
		<input type="text" name="searchText" class="form-control search-control {{#if large}}form-control-lg{{/if}}" placeholder="Enter an ingredient..." required>
				<button type="submit" class="searchBtn"><ion-icon name="search-outline"></ion-icon></button>
	</div>
	<input type="hidden" name="pageNumber" value="1">
</form>
